<div id="user-registration-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" id="user-registration-header">
                    <h1>Client Registration

                    </h1>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control user-reg-input" placeholder="First Name" aria-describedby="sizing-addon1"
                           ng-model="user.firstName">
                    <input type="text" class="form-control" placeholder="Last Name" aria-describedby="sizing-addon1"
                           ng-model="user.lastName">

                </div>
            </div>
        </div>
    </div>
</div>
