<button class="btn btn-default" ng-click="checkStatus()">Check Auth Status</button>
<button class="btn btn-default" ng-click="authTrue()">Log In</button>
<button class="btn btn-default" ng-click="authFalse()">Log Out</button>

<button class="btn btn-default" ng-click="getTestAuthToken()">Get fake Auth token</button>

<br>

<button class="btn btn-default" ng-click="createTestAuthToken()">Create test Auth token</button>


<button class="btn btn-default" ng-click="testRefreshToken()">TEST REFRESH TOKEN</button>


<br>


<div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
</div>