<div id="user-registration-view">
    <div class="container" id="user-reg-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" id="user-registration-header">
                    <h1>User Registration

                    </h1>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="input-group input-group-lg">

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="user-reg-first-name">First Name</label>
                            <input type="text" class="form-control user-reg-input" placeholder="First Name"
                                   aria-describedby="sizing-addon1"
                                   ng-model="user.firstName" id="user-reg-first-name">
                        </div>
                        <div class="col-lg-6">
                            <label for="user-reg-last-name">Last Name</label>
                            <input type="text" class="form-control user-reg-input" placeholder="Last Name"
                                   aria-describedby="sizing-addon1"
                                   ng-model="user.lastName" id="user-reg-last-name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="user-reg-username">Username</label>
                            <input type="text" class="form-control user-reg-input" placeholder="Username"
                                   aria-describedby="sizing-addon1"
                                   ng-model="user.userName" id="user-reg-username">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="user-reg-email">Email</label>
                            <input type="text" class="form-control user-reg-input" placeholder="Email"
                                   aria-describedby="sizing-addon1"
                                   ng-model="user.email" id="user-reg-email">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="user-reg-mobile-num">Phone Number</label>
                            <input type="text" class="form-control user-reg-input" placeholder="Mobile Phone Number"
                                   aria-describedby="sizing-addon1"
                                   ng-model="user.mobileNumber" id="user-reg-mobile-num">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                            <label for="user-reg-password">Password</label>
                            <input type="text" class="form-control user-reg-input" placeholder="Passowrd"
                                   aria-describedby="sizing-addon1"
                                   ng-model="user.password"
                                   id="user-reg-password">

                        </div>

                        <div class="col-lg-6">
                            <label for="user-reg-conf-password">Confirm Passowrd</label>
                            <input type="password" class="form-control user-reg-input" placeholder="Confirm Password"
                                   aria-describedby="sizing-addon1"
                                   ng-model="user.passwordConf" id="user-reg-conf-password">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
